.gvol-text-align:has(span) {
  text-align: center !important;
}

app-medium-content-login .bg-customcolor {
  background-color: var(--Visa-Blue, #1434CB) !important;
}

app-medium-content-login .login-headline {
  color: #FFFFFF !important;
}

/* commented  font-family for Nova migration */
app-medium-content-login .login-subheadline {
  /* font-family: Visa Dialect !important; */
  color: #FFFFFF !important;
}


app-medium-content-login .v-button-secondary:hover {
  background-color: #e6f2ff !important;
}

/* commented  font-family for Nova migration */
app-medium-content-login .v-button-secondary .enroll-btn {
  /* font-family: Visa Dialect !important; */
  font-size: 11.9px !important;
  font-weight: 600 !important;
  line-height: 15.3px !important;
  letter-spacing: 0.4250583350658417px !important;
  text-align: center !important;
  background: #FFFFFF !important;
  color: #1434CB !important;
}
app-medium-content-button .v-button-secondary .bottom-enroll-btn {
  width: 85.21px !important;
  height: 38.12px !important;
  gap: 0px !important;
  border-radius: 1.7px 0px 0px 0px !important;
  border: 1.87px 0px 0px 0px !important;
}

/* commented  font-family for Nova migration */
/* app-medium-content-button .login-headline {
  font-family: Visa Dialect !important;
} */

app-medium-content-login .additional-btn {
  background: #FFFFFF !important;
  color: #1434CB !important;
}

app-medium-content-login .v-button-secondary:active {
  background-color: #0052e1 !important;
}

/* commented  font-family for Nova migration */
/* app-small-content-image .login-headline {
  font-family: Visa Dialect !important;
} */

.login-headline-text{
  background: var(--Visa-Blue, #1434CB);
}

.disclaimer .v-typography-color-subtle{
  color: #808080;
}
/* End - before VOL Renaming color */

/* Start - After VOL Renaming color */

/* app-medium-content-login .bg-customcolor {
  background-color: #021E4C !important;
}

app-medium-content-login .login-headline {
  color: #FFF !important;
}

app-medium-content-login .login-subheadline {
  color: #F0F0F0  !important;
}



/* End - After VOL Renaming color */
.disclaimer {
  width: 95% !important;
}

.max-icon-size{
  --v-icon-primary: var(--dynamic-color, #1434cb) !important;
  --v-icon-secondary:  var(--dynamic-color, #1434cb) !important;
}
/* Support High Contrast (VIS-2-3) */
@media (forced-colors: active) {
  .max-icon-size {
    --v-icon-primary: currentColor !important;
    --v-icon-secondary: currentColor !important;
  }
}

footer ul li a {
  color: var(--dynamic-color, #1434cb) !important;
}

.image-span[_ngcontent-ng-c391550556]:before{
  background-color: #1434cb !important;
}

.btn-primary:focus-visible, .btn-secondary:focus-visible {
  outline: 1px dotted var(--dynamic-color, #1434cb) !important;
  outline-style: dashed !important;
}

.enroll-btn:focus-visible, .button-oval:focus-visible{
  outline: 1px dotted #fff !important;
  outline-style: dashed !important;
}

ol li button:focus-visible svg, ul li button:focus-visible svg {
  outline-style: none !important;
  box-shadow: none !important;
  background-color: transparent;
}

.v-nav-app-name{
  font-weight: 600 !important;
  font-size: 25px !important;
}

.help-subtitle {
    --typography-font-family: var(--typography-body-2-bold-font-family);
    --typography-font-size: var(--typography-body-2-bold-font-size);
    --typography-font-weight: var(--typography-body-2-bold-font-weight);
    --typography-letter-spacing: var(--typography-body-2-bold-letter-spacing);
    --typography-line-height: var(--typography-body-2-bold-line-height);
    --typography-text-decoration: var(--typography-body-2-bold-text-decoration);
    --typography-text-transform: var(--typography-body-2-bold-text-transform);
    font-family: var(--typography-font-family);
    font-size: var(--typography-font-size);
    font-weight: var(--typography-font-weight);
    letter-spacing: var(--typography-letter-spacing);
    line-height: var(--typography-line-height);
    -webkit-text-decoration: var(--typography-text-decoration);
    text-decoration: var(--typography-text-decoration);
    text-transform: var(--typography-text-transform);
}
